<!--views/products.handlebars -->
<div>
  <h1>Lista de productos</h1>

  <form action="/product" method="GET">
    <input type="text" name="query" placeholder="Buscar por categoría" required>
    <button type="submit">Buscar</button>

    {{#if user.isAdmin}}
    <a href="/products/newProduct"><button>Insertar nuevo producto</button></a>
  {{/if}}


  </form>

  <ul>
  {{#each products}}
  <li>
      <h2>{{this.nombre}}</h2>
      <p>Precio: {{this.precio}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>Stock: {{this.stock}}</p>
      <a href="/api/product/{{this._id}}">Ver detalles</a>

      <input type="number" id="quantity-{{this._id}}" value="1" min="1">
      <button 
          class="add-to-cart-btn"
          data-product-id="{{this._id}}"
      >
          Agregar al carrito
      </button>
  </li>
  {{/each}}
</ul>

  {{#if hasPrevPage}}
      <a href="?page={{prevPage}}">Anterior</a>
  {{/if}}

  {{#if hasNextPage}}
      <a href="?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>
<script src="/js/cart.js"></script>
